.controller.ds4,
.controller.ds4.white {
    background-image: url('https://purpellini.github.io/syf/padson.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}
